<footer>
  <div class="footer-root container-sm">
    <section class="footer-section" style="flex-grow: 6;">
      <h4>Contact Us</h4>
      <div><a href="https://t.me/workblast" target="_blank">Telegram</a></div>
      <div><a href="https://twitter.com/work_blast" target="_blank">Twitter</a></div>
      <div><a href="https://github.com/workblast" target="_blank">Github</a></div>
      <div><a href="https://linkedin.com/company/workblast" target="_blank">LinkedIn</a></div>
    </section>
  </div>
</footer>
  