<nav>
  <ul class="nav-logo">
    <li><a href="/"><img src="assets/images/logo.png"></a></li>
  </ul>
  <ul class="nav-root">
    <li>
      <span class="dropdown">
        Contact Us
        <nav>
          <span class="dropdown-heading">Get in Touch</span>
          <a href="https://t.me/workblast" target="_blank">Telegram</a>
          <a href="https://twitter.com/work_blast" target="_blank">Twitter</a>
          <a href="https://github.com/workblast" target="_blank">Github</a>
          <a href="https://linkedin.com/company/workblast" target="_blank">LinkedIn</a>
        </nav>
      </span>
    </li>
  </ul>
  <ul class="nav-hamburger">
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </ul>
  <div>
  </div>
  <ul class="nav-mobile">
    <div class="nav-mobile-fade">
      <span class="nav-mobile-heading">Contact Us</span>
      <li>
        <a href="https://t.me/workblast">Telegram</a>
      </li>
      <li>
        <a href="https://twitter.com/work_blast">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/workblast">Github</a>
      </li>
      <li>
        <a href="https://linkedin.com/company/workblast">LinkedIn</a>
      </li>
    </div>
  </ul>
</nav>
  