<nav>
  <ul class="nav-logo">
    <li><a href="/"><img src="assets/images/logo.png"></a></li>
  </ul>
  <ul class="nav-root">
    <li><a href="#features">Features</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="https://getworkblast.com/privacy">Privacy</a></li>
  </ul>
  <ul class="nav-hamburger">
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </ul>
  <div>
  </div>
  <ul class="nav-mobile">
    <div class="nav-mobile-fade">
      <span class="nav-mobile-heading">Social</span>
      <li>
        <a href="https://t.me/workblast">Telegram</a>
      </li>
      <li>
        <a href="https://twitter.com/work_blast">Twitter</a>
      </li>
      <li>
        <a href="https://linkedin.com/company/workblast">LinkedIn</a>
      </li>
    </div>
  </ul>
</nav>
  